@import url('https://fonts.googleapis.com/css?family=Red Hat Display');

body {
    margin: 0;
    padding: 0;
    background-color: #081A24 !important;
    font-family: 'Red Hat Display'!important;
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom:400pt;
}


h1{
  margin-bottom: 5pt;
}
h2{
  margin-bottom: 5pt;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20pt;
  margin-bottom: 10pt;
}



.city-search{
  width: 380px;
  height: 60px;
  padding-left: 20px;
  background-color: #031017;
  border-radius: 15px;
  color:#f0f0f0;
  font-size: 20px;
  border-color: #405968;
  border-style:solid;
  border-width: 1px;
  outline: none;
  box-sizing: border-box;
}
.city-search:focus{
  border-color: #638DA6 !important;
  border-style: solid !important;
  border-width: 2px;
}

.search-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-results {
  display: none;
  position: absolute;
  list-style: none;
  margin-top: 60px;
  padding: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: #405968;
  border-style:solid;
  border-width: 1px;
  border-top: none;
  width: 355px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #12191D;
  color: #D0D0D0;
}

.search-results li {
  padding: 12px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #102532;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0.5px solid #aaa;
    border-radius: 5px;
    pointer-events: none;
    color: black; /* Change the text color as needed */
    transform: translate(-50%, -100%); /* Position above the point */
}